<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <nav class="fixed-top navbar navbar-expand-sm text-light">
        <div th:if="${user == null}">
            <ul class="navbar-nav">
            <span class="navbar-text">
                You are not logged in!
            </span>
                <li class="nav-item" th:if="${registration == null}">
                    <a class="nav-link" href="/registration">
                        Registration
                    </a>
                </li>
                <li class="nav-item" th:if="${login == null}">
                    <a class="nav-link" href="/login">
                        Login
                    </a>
                </li>
                <li class="float-right home-btn">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
        </div>
        <div th:if="${user != null}">
            <ul class="navbar-nav">
            <span class="navbar-text" th:text="'Signed in as '+${user.getUserName()}">
                Hi, User
            </span>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log out</a>
                </li>
                <li class="float-right">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>